
@model IEnumerable<CityModel>
@inject UserManager<ApplicationUser> UserManager;

@{ ViewBag.Title = "City Page"; }

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                Settings
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (User.Identity.IsAuthenticated)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.CityName)
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        People names
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <ol>
                                            @foreach (var name in item.PeopleList)
                                            {
                                                <li>
                                                    @Html.DisplayFor(model => name.FullName)
                                                </li>
                                            }
                                        </ol>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CityId">Edit</a> |
                        |
                        <a asp-controller="City" asp-action="DeleteCity" >Delete</a>
                    </td>
                </tr>
            }
            }

        </tbody>
</table>
