
@model IEnumerable<CountryModel>
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewData["Title"] = "Country";
}

<h1>Country Page</h1>
@if (!User.Identity.IsAuthenticated)
{
    <p>
        Login or create an account to get access to this page
    </p>
}
@if (User.IsInRole("User"))
{<p>Only admin account has access to this page </p>
}
@if (User.IsInRole("Admin"))
{
    <div>
        <h3>Add New Country</h3>
        <form asp-controller="Country" asp-action="AddCountry">
            Country Name:
            <input type="text" name="countryName" />
            <input class="btn btn-outline-primary" type="submit" value="Add" />

        </form>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CountryName)
                </th>
                <th>
                    Settings
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (User.Identity.IsAuthenticated)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryName)
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            City names
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <ol>
                                                @foreach (var name in item.Cities)
                                                {
                                                    <li>
                                                        @Html.DisplayFor(model => name.CityName)
                                                    </li>
                                                }
                                            </ol>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <form asp-controller="Country" asp-action="DeleteCountry">
                                    <input type="hidden" value="@item.CountryId" name="countryId" />
                                    <input class="btn btn-danger text-white" type="submit" value="Delete" />
                                    <p>Note: You can't delete a Country that has City in'</p>
                                </form>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div>
        <h2>Edit Country Details </h2>
        <form asp-controller="Country" asp-action="EditCountry">
            <select name="countryId">
                @foreach (var x in Model)
                {
                    <option value=@x.CountryId> @x.CountryName</option>
                }
            </select>
            The Country:
            <input type="text" name="countryName" />
            <input class="btn btn-outline-primary" value="Edit" type="submit" />
        </form>
    </div>
}