
@model IEnumerable<PersonModel>
@inject UserManager<ApplicationUser> UserManager

<h1>People Page for Add, Edit and Delete </h1>
<!DOCTYPE html>
<html>
<head>
    <title> People List</title>

</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th>@Html.DisplayNameFor(model => model.PersonId)</th>
                            <th>@Html.DisplayNameFor(model => model.FullName)</th>
                            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.City)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.PersonId)
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.City.CityName)
                                </td>
                                <td class="align-middle">

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <form asp-controller="PersonModel" asp-action="DeletePerson">
                                            <input type="hidden" value="@item.PersonId" name="id" />
                                            <input class="btn btn-danger text-white" type="submit" value="Delete" />
                                        </form>
                                    }

                                </td>


                            </tr>
                        }

                </table>
            </div>
        </div>
        <br />
        <form asp-controller="PersonModel" asp-action="EditPerson">
            <h3>Edit Person</h3>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Chose the person from the list</th>
                        <td>

                            <select name="personId">
                                @foreach (var p in Model)
                                {
                                    <option value=@p.PersonId> @p.PersonId - @p.FullName</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label >New Name </label>
                            <input type="text" name="fullName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label >New PhoneNumber </label>
                            <input type="text" name="phNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Chose a City </label>

                            <select name="cityId">
                                @foreach (var x in Model.GroupBy(m => m.CityId).Select(g => g.First()))
                                {
                                    <option value=@x.CityId>@x.City.CityName</option>
                                }
                            </select>
                        </td>
                    </tr>

                    <tr><td><input type="submit" class="btn btn-outline-primary" value="Edit Person" /></td></tr>
                </tbody>
            </table>
        </form>



        <form asp-controller="PersonModel" asp-action="AddPerson">
            <h3>Add New Person</h3>
            <table class="table table-hover">
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Full Name</th>
                        <td><input name="fullName" type="text" class="form-control" colspan="2" /></td>

                    </tr>
                    <tr>
                        <th scope="row">Phone Number</th>
                        <td><input name="phonenumber" type="text" id="start" colspan="2" min="0-01-01" max="2030-01-01"></td>

                    </tr>
                    <tr>
                        <th scope="row">City</th>
                        <td>
                            <select name="genreid" id="Genres">
                                @foreach (var item in Model.GroupBy(m => m.CityId).Select(g => g.First()))
                                {
                                    <option value="@item.City.CityName">@item.City.CityName</option>

                                }
                            </select>
                        </td>
                    </tr>
                    <tr><td><input class="btn btn-primary" type="submit" value="Add" /> </td></tr>


            </table>
        </form>
    }


</body>
</html>




